---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app factorio-spaceage
  namespace: games
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      factorio-spaceage:
        type: statefulset
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: factoriotools/factorio
              tag: 2.0.72
            env:
              PORT: &port 34197
              RCON_PORT: &rcon 27015
              SAVE_NAME: "spaceage-plusmods"
              LOAD_LATEST_SAVE: false

    service:
      main:
        annotations:
          tailscale.com/expose: "true"
          tailscale.com/hostname: "factorio"
        controller: *app
        enabled: true
        type: ClusterIP
        ports:
          server:
            enabled: true
            port: 34197
            targetPort: 34197
            protocol: UDP
          rcon:
            enabled: true
            primary: true
            port: 27015
            targetPort: 27015
            protocol: TCP

    persistence:
      config:
        enabled: true
        existingClaim: factorio-spaceage
        advancedMounts:
          factorio-spaceage:
            app:
              - path: /factorio
                subPath: factorio
      helmconfig:
        enabled: true
        type: nfs
        server: ${NAS_IP}
        path: /zpool-mirror/backups/games/factorio
        globalMounts:
          - path: /helmconfig

    startupProbe:
      enabled: true
      failureThreshold: 30
      periodSeconds: 10

    resources:
      requests:
        cpu: 15m
        memory: 1555M
      limits:
        memory: 8006M
